* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--background);
    padding: 0;
    margin: 0;
}
button {
    background-color: var(--primary);
}
h1 {
    
}
p {
    display: inline;
}